body {
    background-image: url("../img/pattern_bg.png");
    background-size: 300px;
}

.contents {
    border: 1px solid #383838;
    border-radius: 24px 24px 24px 24px;
    z-index: 1;
    color: white;

    background-color: rgba(41, 41, 41, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    
}

.index-home {
    min-height: 300vh;
}

.smcassist {
    min-height: 200vh;
}

.place-holder {
    height: 200px;
    width: 200px;
    border-radius: 23px 23px 23px 23px;
    
}

.place-holder:hover{
    margin-bottom: 30px;
    rotate: 6deg;
    scale: 1.11;
    transition: 500ms;
    box-shadow: 0px 18px 37px -8px rgba(0,0,0,0.68);

    .project-title {
        font-size: 30px;
        font-weight: bold;
    }
}

.project-title {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}