body {
    background-color: #161616;
}

.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1000;
}

.contents {
    border: 1px solid #383838;
    border-radius: 24px 24px 24px 24px;
    z-index: 1;
    color: white;

    background-color: rgba(41, 41, 41, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    min-height: 300vh;
}


.video-bg {
    position: sticky;
    top: 0;
    z-index: -1;
    
    height: 1080px;
    width: 100%;
    overflow: hidden;
}